.app-layout > h1 {
    color: brown;
} 

.header-layout {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

#logo-img {
    width: 100px;
}

.nav-links > ul {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
}

.nav-links > ul >li{
    padding: 20px;
    font-size: 30px;
}

.res-image {
    margin-bottom: 0px;
}

#image {
    width: 300px;
}

.res-containers {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 10px;
    width: 300px;
}

.res-card:hover {
    border: 1px solid grey;
    cursor: pointer;
}
.res-info {
    display: flex;
    justify-content:space-between;
}

#res-name {
    margin: 0px;
    font-family: sans-serif;
}

#res-cuisine {
    font-size: small;
    font-family: sans-serif;
    margin: 0px;
}

#res-rating, #res-deliveryTime{
    padding-right: 2px;
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: small;
}